vrrp_instance instance_1 {
    state MASTER 
    interface {{ interface_deb }}
    virtual_router_id {{ instance_1_vrouter }}
    priority {{ master_priority }}
    advert_int 3
    virtual_ipaddress {
        10.10.0.101/24 dev enp0s8 label enp0s8:1
    }
}
