vrrp_instance instance_1 {
    state MASTER 
    interface {{ interface_deb }}
    virtual_router_id {{ instance_1_vrouter }}
    priority {{ master_priority }}
    virtual_ipaddress {
        10.10.1.101/24 dev enp0s8 label enp0s8:1
    }
}

vrrp_instance instance_2 {
    state BACKUP
    interface {{ interface_deb }}
    virtual_router_id {{ instance_1_vrouter }}
    priority {{ backup_priority }}
    virtual_ipaddress {
        10.10.1.102/24 dev enp0s8 label enp0s8:2
    }
}
