vrrp_instance instance_1 {
    state BACKUP
    interface {{ interface_rpm }}
    virtual_router_id {{ instance_1_vrouter }}
    priority {{ backup_priority }}
    virtual_ipaddress {
        10.10.1.101/24 dev eth1 label eth1:1
    }
}

vrrp_instance instance_2 {
    state MASTER
    interface {{ interface_rpm }}
    virtual_router_id {{ instance_2_vrouter }}
    priority {{ master_priority }}
    virtual_ipaddress {
        10.10.1.102/24 dev eth1 label eth1:2
    }
}
